body {
  width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  font-family: sans-serif;
  /* background-color: black; */
  background-color: #fcf3ea;
  color: #2e2d2d;
  /* font-size: 20px; */
}


.footer {
  background-color: #2e2d2d;
  font-size: 16px;
  color: #fcf3ea;
  text-align: center;
  /* margin-top: 100px; */
  padding-top: 60px; 
  bottom: 0;
  height: 150px;
  z-index: 2;
  /* margin-top:calc(5% + 60px); */
}

.footer div{
  margin-bottom: 10px;
}

.user_conatainer {
  min-height: calc(100vh - 150px);
}

.wrapper{
  min-height: 100%;
}


#background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: #fcf3ea;
  z-index: 1;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 200px;
  text-align: center;
  background: #000;
  align-items: center;
}
.circle2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 50px;
  color: black;
  line-height: 200px;
  text-align: center;
  background: #fff;
}

.logo {
  margin: 30px auto auto 30px;
  width: 70px;
  display: flex;
  z-index: 2;
}

.logo img {
  height: 48px;
  width: auto;
}
.banner_conatainer {
  width: 100%;
  height: 100%;
}



.lefttoright {
  width: 100%;
  position: relative;
  -webkit-animation: floatBubble 0.6s 1s normal ease-out forwards;
  animation: floatBubble 0.6s 1s normal ease-out forwards;
  /* -webkit-animation:spin 5000ms linear 1s;
  -moz-animation:spin 5000ms linear 1s;
  animation:spin 5000ms linear 1s; */
}
.spin {
  -webkit-animation: spin 1s linear 1s;
  -moz-animation: spin 1s linear 1s;
  animation: spin 1s linear 1s;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  background-color: #F3D250;
}
.nav {
  flex: auto;
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
}

.nav-link {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.nav-link-item {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  pointer-events: auto;
  margin-left: 30px;
  margin-right: 30px;
}

.nav-link-btn {
  flex: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  pointer-events: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.link {
  /* color:#F76C6C; */
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
}

.link:visited{
  color: black
}

.userLink {
  color:#ea6a00;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
}

.userLink:visited{
  color: #ea6a00
}

.addressLink{
  color:#ea6a00;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  align-items: center;
}

.addressLink:visited{
  color: #ea6a00
}

.loginform {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login_container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fcf3ea;
}

input {
  outline: none;
  border: none;
}

.form_input_wrap {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.form_input {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  border-bottom: 1px solid #0ae25d;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.login-btn {
  font-size: 18px;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: rgb(252, 164, 1);
}

.login-btn:hover {
  left: 0;
}

.form_input_text {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  /* background-color: #000; */
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  background-image: url("../imgs/skateboardMarker.png");
}

.box {
  width: 70%;
  height: 70px;
  background-color: black;
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 40px;
  float: left;
}

.box.arrow-left:after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid black;
  border-left: none;
  border-bottom: 15px solid transparent;
}
.note {
  color: gray;
  margin: 8px 0;
}

input.active:valid {
  box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
  box-shadow: 0 0 5px 1px red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@-webkit-keyframes floatBubble {
  0% {
    left: 0%;
  }
  100% {
    left: 40%;
  }
}
@keyframes floatBubble {
  0% {
    left: 0%;
  }
  100% {
    left: 40%;
  }
}

@media (min-width: 800px) {
  /* .user_conatainer {
    min-height: calc(100vh - 150px);
  } */
  /* .logo {
    width: 42vw;
    max-width: 320px;
    height: auto;
    margin: 2vw auto 3vw auto;
    cursor: pointer;
    display: block;
    width: 50%;
  } */
  
  /* .logo img {
    width: 42vw;
    max-width: 320px;
    height: auto;
    margin: 2vw auto 3vw auto;
    cursor: pointer;
    display: block;
    width: 50%;
  } */
}  

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}